.main{
	overflow: hidden;
}

.selectable{
	float: left;
	border: 1px dashed #888;
	background: #EEE;
	text-align: center;
	padding: 20px;
	margin: 0 10px 10px 0;
}

.selectable.selecting{
	background: #2e2e2e;
}

.area {
    position: absolute;
    border: 1px dashed red;
    background: red;
    opacity: 0.2;
}